* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    /* Yellow Tones - Amarillos */
    --freddo-primary-500: #F3C342;
    --freddo-primary-400: #E09A01;
    --freddo-primary-300: #F3D680;
    --freddo-primary-200: #F3D680;
    --freddo-primary-100: #F3E3BA;

    /* Brown Tones - Marrones */
    --freddo-secondary-500: #60391C;
    --freddo-secondary-400: #4A270B;
    --freddo-secondary-300: #543014;
    --freddo-secondary-200: #805437;
    --freddo-secondary-100: #826E5F;

    /* Orange Tones - Naranjas */
    --freddo-orange-500: #DB732B;
    --freddo-orange-400: #A0461F;
    --freddo-orange-300: #C7632D;
    --freddo-orange-200: #EF954F;
    --freddo-orange-100: #EAB182;

    /* Gray Tones - Grises */
    --freddo-gray-500: #424243;
    --freddo-gray-400: #191817;
    /* Pure black for footer - Negro para footer*/
    --freddo-gray-300: #666564;
    --freddo-gray-200: #DADADA;
    --freddo-gray-100: #F9F9F9;
    /* White tone for background - Blanco para el fondo */
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: 60vh;
}


/**
* Header Settings 
*/

header {
    top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));
    position: sticky;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0,0,0,.15);
}



header .header__navigator,
header .header__navigator > div:nth-child(1) {
    width: 100%;
}

/* header {
    width: 100%;
    position: fixed;
} */


.wp-block-navigation__submenu-container  .wp-block-navigation-item {
    padding: 1rem;
    gap: 1rem;
    transition: all ease 300ms;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item:hover {
    background-color: #F3C342;
}

:where(.wc-block-mini-cart__badge) {
    background-color: #E09A01 !important;
}


/**
* Footer Settings 
*/


.footer__body {
    position: relative;
    overflow: hidden;
}

.footer__body::after {
    content: '';
    height: 275px;
    width: 527px;
    background: url('../img/footer-before.png');
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 0;
}

.footer__body .footer__content,
.footer__body .footer__copyright {
    position: relative;
    z-index: 5;
}

.footer__body .footer__content {
    margin: 2.5rem 0 2.5rem;
    display: grid !important;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem
}

.footer__body .footer__content div {
    min-height: 208px;
}

.footer__menu {
    padding-left: 0 !important;
}

.footer__menu a {
    text-decoration: none;
    color: #f5f5f5;
    transition: all ease 300ms;
}

.footer__menu a:hover {
    font-weight: 500 !important;
    color: #fff !important;
}

/* Contact Section */
#contactBlock .contact-form__container {
    padding: 1.5rem;
    box-shadow: 2px 4px 12px rgba(0,0,0,.15);
}

#contactBlock .contact-form__container .gform_footer {
    display: flex;
    justify-content: center;
}

#contactBlock .contact-form__container .gform_footer input {
    width: 85%;
    font-size: 24px;
    font-weight: 600;
    padding: .75rem 1rem;
    background-color: transparent;
    color: #424243;
    border: solid 1px rgba(153, 153, 153, .75);
    transition: all ease 300ms;
}

#contactBlock .contact-form__container .gform_fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contactBlock .contact-form__container .gform_fields input,
#contactBlock .contact-form__container .gform_fields textarea {
    border: solid 1px rgba(153,153,153,.75);
    padding: .5rem .75rem;
}

#contactBlock .contact-form__container .gform_footer input:hover {
    border-color: transparent;
    background-color: #F3C342;
    box-shadow: 0px 4px 10px rgba(0,0,0,.15);
}

.support-form__container > div {
    padding: 2rem 1.5rem;
    background-color: #fff;
    box-shadow: 2px 4px 12px 0px rgba(0,0,0,.15);
}

.support-form__container>div input {
    padding: 1.5rem !important;
}

.support-form__container>div .gform_footer {
    display: flex;
    justify-content: center;
}

.support-form__container>div .gform_footer input {
    width: 85% !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: .75rem 1rem;
    background-color: transparent !important;
    color: #424243 !important;
    border: solid 1px rgba(153, 153, 153, .75) !important;
    transition: all ease 300ms !important;
}

.support-form__container>div .gform_footer input:hover {
    border-color: transparent !important;
    background-color: #F3C342 !important;
    box-shadow: 0px 4px 10px rgba(0,0,0,.15) !important;
}

#serviceBlock .grid-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

#serviceBlock .grid-row .service-box {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1rem;
    background-color: #E09A01;
    color: #fff;
    text-shadow: 0 3px 4px rgba(0,0,0,.15);
}

#serviceBlock .grid-row .service-box .title-box i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#serviceBlock .grid-row .service-box a {
    color: #ededed;
    text-decoration: none;
    transition: all ease 300ms;
}

#serviceBlock .grid-row .service-box a:hover {
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 1024px) {

    #contactBlock {
        padding: 1rem !important;
    }

    .footer__body .footer__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 0 1rem;
    }

    .footer__body .footer__content div:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .footer__body .footer__content div:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .footer__body .footer__content div:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
    }

    .footer__body .footer__content div:nth-child(4) {
        grid-area: 1 / 4 / 2 / 5;
    }

    .footer__body .footer__content div:nth-child(5) {
        grid-area: 2 / 1 / 3 / 5;
    }
    
}

@media screen and (max-width: 767px) {

    header .mobile-hidden {
        display: none;
    }

    header .header__navigator {
        flex-direction: row-reverse;
        justify-content: end !important;
    }

    header .header__navigator>div:nth-child(1) {
        width: 50px;
    }

    header .phones-block a {
        font-size: 11px ;
    }

    #serviceBlock .grid-row {
      
        grid-template-columns: 1fr;
    }

    #contactBlock > div {
        padding: 0 !important;
    }

    .footer__body .footer__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: 0 1rem;
    }

    .footer__body .footer__content div:nth-child(1) { grid-area: 2 / 1 / 3 / 2; }
    .footer__body .footer__content div:nth-child(2) { grid-area: 2 / 2 / 3 / 3; }
    .footer__body .footer__content div:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
    .footer__body .footer__content div:nth-child(4) { grid-area: 3 / 2 / 4 / 3; }
    .footer__body .footer__content div:nth-child(5) { grid-area: 1 / 1 / 2 / 3; }

    .footer__body .footer__copyright {
        padding: 0 1rem;
    }
}